flet[all]==1.0.4
flet-audio-recorder==1.0.4
pathvalidate
websockets
markdown
pygments
bleach
requests==2.32.3
urllib3==2.2.3
charset-normalizer==3.3.2
json-repair
click
tqdm
pydantic

piper-tts
onnxruntime
sounddevice
soundfile
pip-system-certs
truststore