# uncomment and add your hubs ip here
#HUB_IP=[hub IP]

# models that work with Rückgrat (maxing out 24GB vram)
# cognitivecomputations_Dolphin-Mistral-24B-Venice-Edition-Q6_K_L
# Huihui-Qwen3.6-35B-A3B-Claude-4.7-Opus-abliterated-ggml-model-Q4_K
# NousResearch_Hermes-4.3-36B-Q4_K_S
LLAMA_CPP_MODEL=/models/llm/cognitivecomputations_Dolphin-Mistral-24B-Venice-Edition-Q6_K_L/cognitivecomputations_Dolphin-Mistral-24B-Venice-Edition-Q6_K_L.gguf
LLAMA_CPP_MAX_CONTEXT=4096
LLAMA_CPP_GPU_LAYERS=-1 # -1 means all layers run on GPU
LLAMA_CPP_PORT=8080
LLAMA_CPP_SERVER=rocm # ie. rocm, cuda, intel